:root{
  --primary : #e63946;
  --secondary : #f1faee;
}

body{
  margin: 0;
  width: auto;
  display: flex;
  flex-flow: column;
  background-color: var(--secondary);
  height: auto;
}

#root{
  width: 100%;
}