/*pokemon list*/

.listAndSearch{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    row-gap: 2rem;
    margin-top: 2%;
  }
  
  .pokeList{
    padding-top: 5%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 90%;
  }
  
  /*search input*/
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--primary);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--primary);
    background-color: var(--secondary);
  }
  
  .searchTerm:focus{
    color: var(--primary);
  }
  
  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid var(--primary);
    background: var(--primary);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 30%;
  }